<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DWBswift项目.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>42D37BB81E9B5D5B00319057</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42D37BCC1E9B5D5C00319057</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42D37BD71E9B5D5C00319057</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
